.top {
    display: flex;
    background-color: #1f2937;
    padding: 10px 80px;
    padding-bottom: 100px;
    gap: 30px;
}

.left-top {
    align-items: center;
    flex: 1;
}

.right-top {
    flex: 1;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 50px;
    justify-content: left;
    padding-bottom: 50px;

}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px 32px;
    font-size: 18px;
    
}

.picture {
    height: 350px;
}

.middle-top {
    padding: 50px 80px;
}

.info-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;

}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    

}
.small-container {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.small-pic {
    border: #3882f6 solid 3px;
    border-radius: 6px;
    width: 130px;
}

.small-pic-caption {
    text-align: center;
    
}

.middle-bottom {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.quoter {
    text-align: right;
    color: #1f2937;
    font-weight: 800;
    font-size: 20px;
}

.bottom {
    padding: 70px 200px;
}

.calltoaction-box {
    padding: 40px 80px;
    display: flex;
    background-color: #3882f6;
    border-radius: 6px;
    justify-content: center;
}

.call-header {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.call-subtext {
    color: white;
    font-size: 15px;
}

.button2 {
    border: white solid 1px;
    font-size: 15px;
    margin-left: 40px;
    
}

.footer {
    background-color: #1f2937;
    padding: 30px; 
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 15px;
}
